<!DOCTYPE html>
<html>
<head>
<title>ABX</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color: black;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.logo {
  max-width: 150px;  /* Adjust this value as needed */
  height: auto;
  padding: 20px;
}
</style>
</head>
<body>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-small">
    <img class="logo" src="static/images/abx-high-resolution-logo-white-on-transparent-background.png" alt="Logo">
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" style="text-align: center;">ABX is the easiest way to buy or sell a business, even if you have no prior experience.</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">COMING SOON</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Abacus Technologies Ltd.
  </div>
</div>
</body>
</html>